<h1> Editing </h1>

<%= form_with(model: @user,local: true) do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>|
  <%= f.submit %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', user_path %>
